internal/spec/vocabspec/vocabulary_gen.go text eol=lf linguist-generated=true
internal/spec/profilespec/profile_gen.go text eol=lf linguist-generated=true
internal/spec/findingsspec/findings_gen.go text eol=lf linguist-generated=true
